#scoreboard {
    margin-top: 1rem;
}

.btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin: 0.5rem;
    border: 0.2rem #a9aba8 solid;
    padding: 0 1rem;
    background: #000000;
    color: #9f5151;
}